.section {
    width: 100%;
    &:first-child {
        div {
        }
    }
    .fixed-menu {
        height: calc(60px + 2rem);
        width: 100vw;
        transform-origin: top;
        transform: scaleY(1);
        transition: all 375ms ease-in-out;
    }
}
