#prices {
    background: #ffb121;
}
#prices .title {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #1e1e1e;
    text-align: center;
    width: calc(100% - 20px);
    margin: 0 auto;
}
.container {
    position: relative;
    z-index: 1;
}
.container .packs .packs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
.container .packs .packs-container .price-card {
    width: 100%;
    max-width: 400px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px 10px;
    margin-bottom: 20px;
}
.container .packs .packs-container .price-card .price-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0152c3;
    margin: 10px;
}
.container .packs .packs-container .price-card .price-title span {
    margin: 0 0 20px;
    text-align: left;
    display: block;
}
.container .packs .packs-container .price-card .price-table {
    width: 100%;
    border-collapse: collapse;
}
.container .packs .packs-container .price-card .price-table .nb-sessions,
.container .packs .packs-container .price-card .price-table thead {
    color: #fff;
    background-color: #1a6de5;
    left: 0;
    margin: 20px;
}
.individual-session {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.individual-session h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0152c3;
}
.individual-session p {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 500;
}
.subtitle {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}
.price-table td,
.price-table th {
    padding: 10px;
    text-align: center;
}
.price-table tr {
    border-bottom: 1px solid #ddd;
}
