.slider {
    top: 0;
    z-index: 2;
    .intro-message {
        height: 70vh;
    }
    .slider-content {
        position: absolute;
        z-index: 10;
        text-align: center;
        width: 100%;
        .sld-card_title {
            width: fit-content;
            height: 172px;
            margin: 0 auto;
            border-radius: 4rem;
            h2 {
                height: 39px;
                margin-top: 2rem;
                font-size: 2rem;
                @include bannerH2;
                display: block;
                width: 100%;
                .bold {
                    display: block;
                    font-weight: 700;
                    font-size: 1.75rem;
                }
            }
        }
        .banner-description {
            margin: auto;
            padding: 1rem;
            width: calc(100% - 1rem);
            max-width: 420px;
            margin-top: 276px;
            background: $white;
            border-radius: 2rem;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
            p {
                text-align: center;
                @include bannerDescribe;

                .bold {
                    font-weight: 700;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    .slide {
        display: none;
        opacity: 0;
        transition: opacity 0.25s ease, transform 0.25s ease;
        &.active {
            display: block;
            opacity: 1;
            transform: translateX(0);
            .sld-card_title {
                transition: opacity 0.375s ease-in-out 0.25s,
                    transform 0.375s ease-in-out 0.25s;
                opacity: 1;
                transform: translateY(0);
                h2 {
                    transition: opacity 0.5s ease-in-out,
                        transform 0.5s ease-in-out;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            .banner-description {
                transition: opacity 0.75s ease-in-out 0.375s,
                    transform 0.75s ease-in-out 0.375s;
                opacity: 1;
                transform: translateX(0);
                p {
                    transition: opacity 0.5s ease-in-out,
                        transform 0.5s ease-in-out;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        &.next {
            display: block;
            opacity: 0;
            .sld-card_title {
                transform: translateY(-160px);
            }
            .banner-description {
                transform: translateX(-300%);
            }
        }
        &.prev {
            display: block;
            opacity: 0;
            .sld-card_title {
                transform: translateY(-160px);
            }
            .banner-description {
                transform: translateX(300%);
            }
        }
    }
    .sld-card_title {
        opacity: 0;
        transform: translateY(160px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        h2 {
            opacity: 0;
            transform: translateY(-16px);
            transition: opacity 0.25s ease-in-out 0.25s,
                transform 0.25s ease-in-out 0.25s;
        }
    }
    .banner-description {
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.25s,
            transform 0.75s ease-in-out 0.25s;
        p {
            opacity: 0;
            transform: translateY(-16px);
            transition: opacity 0.25s 0.25s ease-in-out,
                transform 0.25s 0.25s ease-in-out;
        }
    }
}
.slide.active .banner-description,
.slide.active .sld-card_title {
    opacity: 1 !important;
    transform: none !important;
}
.slide.active {
    will-change: transform, opacity !important;
}
