:root {
    --tr: transparent;
    --bk: #000;
    --bk1: #151515;
    --bk2: #1e1e1e;
    --gy: #c4c4c4;
    --gy2: #e5e7eb;
    --g2: #ddd;
    --w: #fff;
    --w1: #f2f2f1;
    --w2: #f5f5f5;
    --bg1: #f1e7d1;
    --bl1: #1a6de5;
    --bl2: #0d84e3;
    --bl3: #009ee2;
    --bl4: #0152c3;
    --bll: #3b82f6;
    --bll2: #2563eb;
    --bll3: #60a5fa;
    --bll4: #f0f9ff;
    --bll5: #eff6ff;
    --bll6: #1d4ed8;
    --bll7: #0369a1;
    --bll8: #0f172a;
    --bll9: #f1f5f9;
    --y: #ffb121;
    --y1: #ffff33;
    --o: #ff611d;
    --or: #f60;
    --ol: #647d21;
    --rd: red;
    --rd2: #e11d48;
    --rd3: #e0e7ef;
    --bkR01: rgba(0, 0, 0, 0.1);
    --bkR015: rgba(0, 0, 0, 0.15);
    --bkR02: rgba(0, 0, 0, 0.2);
    --bkR025: rgba(0, 0, 0, 0.25);
    --bkR035: rgba(0, 0, 0, 0.35);
    --bkR04: rgba(0, 0, 0, 0.4);
    --bkR05: rgba(0, 0, 0, 0.5);
    --bl1R025: rgba(26, 109, 229, 0.25);
    --bl1R05: rgba(26, 109, 229, 0.5);
    --bl3R05: rgba(0, 158, 226, 0.5);
    --yR035: rgba(255, 177, 33, 0.35);
    --wR05: rgba(255, 255, 255, 0.5);
    --S_444: 4px 4px 4px;
    --S_442: 4px 4px 2px;
    --S_446: 4px 4px 6px;
    --S_464: 4px 6px 20px;
    --S_444: 4px 4px 4px;
    --S_246: 2px 4px 6px;
    --S_224: 2px 2px 4px;
    --S_223: 2px 2px 3px;
    --S_044: 0px 4px 4px;
    --S_0420: 0px 4px 20px;
    --S_048: 0px 4px 8px;
    --S_824: 8px 32px 4px;
    --S_0832: 0px 8px 32px;
    --S_1924: 1px 2px 4px;
    --S_1529: 1.5px 9px 0px;
    --S_10105010: 10px 10px 50px 10px;
    --S_4620: 4px 6px 20px;
    --S_2824: 2px 8px 24px;
}
