.coach,
.coach2,
.container,
.img-tle,
.srvP_bull-card {
    position: relative;
}

.category,
.pck-Ct {
    filter: drop-shadow(var(--S_048) var(--bkR05));
}

.coach2 h3,
.srvP_C-tle .srvP-h3 h3,
.title {
    text-shadow: var(--S_224) var(--bkR05);
}

.page {
    background: var(--ol);
    padding-bottom: 64px;
}

.page-tle {
    width: calc(100% - 32px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 12px;
    margin: 16px 0 0 16px;
    filter: drop-shadow(var(--S_224) var(--bkR05));
}

.page-tle .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px !important;
    height: auto !important;
    margin: 0;
}

.page-tle .title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: var(--w);
    letter-spacing: 0.6px;
    font-size: 1.8rem;
    text-shadow: none;
    display: inline;
    align-items: center;
    text-align: left;
    margin: 0;
    min-width: inherit;
    max-height: 64px;
    line-height: 32px;
}

.margin-srv {
    height: 32px;
}

.page-tle .icon-color {
    width: 100%;
    height: 100%;
    max-width: 64px;
    max-height: 64px;
    fill: var(--w);
}

.container {
    z-index: 1;
    padding: 0 16px;
    text-align: center;
    margin: 0 auto;
}

.category {
    padding: 16px;
    border-radius: 16px;
    color: var(--bk2);
    background: var(--y);
}

.coach,
.price-card {
    background: var(--w);
}

@media screen and (max-width: 370px) {
    .container {
        padding: inherit;
    }
    .category {
        padding: 16px 8px;
        min-width: 330px;
        max-width: 350px;
        margin: 0 auto;
    }
    .price-card,
    .price-tle {
        width: calc(100% - 20px);
        min-width: 340px !important;
        max-width: 340px !important;
        position: relative;
    }
    .coach2 h3 {
        position: relative;
        font-size: 18px !important;
    }
}

.price-card,
.price-tle {
    width: calc(100% - 10px);
    min-width: 360px;
    max-width: 400px;
    position: relative;
}

.category-tle {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.category-intro {
    max-width: 400px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 12px;
}

.coach p,
.coach2 h3,
.price-tle,
.srvP_C-tle,
.srvP_C-tle .srvP-h3 h3 {
    font-size: 1.25rem;
}

.pck-Ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.price-card {
    border-radius: 0 0 16px 16px;
    margin-bottom: 20px;
    padding: 0 10px 10px;
    z-index: 2;
}

.price-tle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0.25px;
}

.coach,
.coach2 {
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 4px 6px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    height: 120px;
    z-index: -1;
    filter: drop-shadow(var(--S_223) var(--bl1R025));
    border-bottom: 1px solid var(--w);
}

.coach p {
    padding: 4px 8px;
    filter: drop-shadow(var(--S_223) var(--bl1R025));
    width: fit-content;
    color: var(--y);
    text-align: center;
}

.coach2 h3,
.srvP_C-tle .srvP-h3 h3,
h3.price-tle {
    color: var(--w);
    font-weight: 700;
}

.srv-image {
    padding: 4px 6px 12px 0;
}

#services-page .pck-Ct,
.coach2 {
    padding: 0;
}

.srv-image img,
.srvP_C-tle .srvP-img img {
    margin: 0 auto;
    width: 68px;
    height: 68px;
    filter: drop-shadow(var(--S_223) var(--bl1R025));
}

.coach2 {
    flex: 2;
    align-items: flex-end;
    justify-content: flex-end;
    background: initial;
    box-shadow: none;
    filter: none;
}

.coach2 h3 {
    z-index: 1;
    padding: 16px 10px 0 16px;
    flex: 2;
    border-radius: 0 16px 2px 0;
    background: var(--bl1);
    min-height: 92px;
}

.coach2 .empty {
    height: 36px;
    top: 0;
    min-width: 100%;
    display: block;
}

.img-tle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 118px;
}

.coach-icon {
    border: 1px solid var(--w);
    width: 140px;
}

h3.price-tle {
    margin: 8px 0;
    text-align: left;
    display: block;
    font-size: 1.35rem;
}

.price-tbl {
    margin: 10px 0 0;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.srvP_bull-card,
.srvP_C-tle {
    width: calc(100% - 10px);
    max-width: 400px;
}

.price-tbl td,
.price-tbl th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--g2);
}

.price-tbl .nb-sessions,
.price-tbl thead {
    color: var(--w);
    background-color: var(--bl1);
    padding: 1px;
    box-shadow: var(--S_224) var(--bkR05);
    font-weight: 700;
}

.individual-session p {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 500;
}

.price-tbl tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
    border-bottom: 0 !important;
}

.price-tbl tr:last-child td {
    border-bottom: 1px solid transparent !important;
}

thead tr th {
    border-right: 1px solid var(--w);
    border-left: 1px solid var(--w);
}

thead tr th:first-child,
thead tr th:last-child {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--g2);
}

a {
    text-decoration: none;
}

#services-page .page-tle {
    min-width: inherit;
}

#services-page .title {
    min-width: inherit;
    max-height: 48px;
    line-height: 32px;
}

#services-page .page-tle .icon-color,
#services-page .page-tle .nav-icon {
    display: flex;
    width: 64px;
    height: 64px;
}

.srvP_C-tle {
    min-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.srvP_C-tle .srvP-img {
    padding: 6px 10px;
    background-color: var(--w);
    border-radius: 50%;
}

.srvP_C-tle .srvP-h3 {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0 10px 0 16px;
    flex: 2;
    min-height: 92px;
}

.srvP_bull-card {
    margin: 20px 0;
    min-width: 320px;
    background: var(--w);
    border-radius: 24px;
    padding: 10px 16px;
    z-index: 2;
}

.srvP_bull-card p.srv-desrib {
    color: var(--bk2);
}

.srvP_bull-card .bull-bd {
    position: absolute;
    top: -24px;
    left: 86px;
    width: 24px;
    height: 25px;
}

.pck-Ct:nth-child(2n) .srvP_C-tle {
    flex-direction: row-reverse;
}

.pck-Ct:nth-child(2n) .srvP_bull-card .bull-bd {
    right: 96px;
    left: auto;
}

.pck-Ct:nth-child(2n) .srvP_bull-card .bull-bd img {
    transform: scale(-1, 1);
}
