#top {
    border-top: 0.25px solid transparent;
}
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTn89ddpQ.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*,
body,
body *,
menu,
ol,
ul {
    margin: 0;
}
*,
.header,
body,
body * {
    box-sizing: border-box;
}
.btn-style_blue,
.logo,
.sld-bg {
    z-index: 1;
}
#slider,
.sld-container {
    min-height: 823px;
}
*,
body *,
menu,
ol,
ul {
    padding: 0;
}
a,
hr {
    color: inherit;
}
* {
    border: 0 solid #e5e7eb;
}
:after,
:before {
    --tw-content: "";
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    text-transform: none;
}
.btn-style_blue,
p {
    font-size: 1.25rem;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: vertical;
}
body,
html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Montserrat, sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
}
.slider .slider-content .sld-card_title h2,
h2,
h1,
p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
}
a,
body * {
    text-decoration: none;
}
body svg {
    image-rendering: auto;
}
p {
    margin: 0 auto;
    color: #1e1e1e;
    font-weight: 500;
    line-height: 1.75rem;
}
h2 {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}
button,
input,
option,
select,
textarea {
    background: 0 0;
    outline: 0;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.content-wrapper {
    margin: 0 auto;
    width: auto;
    position: relative;
}
.flx-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.btn-style_blue,
.header button.menu,
.logo,
.segment,
.slider-bg {
    position: relative;
}
.slider-bg {
    margin: 0 auto;
    z-index: 0;
    min-height: 100vw;
}
.sld-bg,
.slider {
    height: 100%;
    width: 100%;
    position: absolute;
}
.sld-sun,
.slide,
.slider-content {
    margin: 0 auto;
    width: auto;
}
.sld-sun {
    width: 900px;
    height: 630px;
    background: #ffb121;
    border-bottom-left-radius: 450px;
    border-bottom-right-radius: 450px;
    z-index: 2;
}
.segment {
    width: calc(100% - 2rem);
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    column-gap: 42px;
    margin: 0 auto;
}
.header,
.section {
    width: 100%;
}
.segment .card_empty,
.segment .card_header {
    flex-flow: column nowrap;
    display: flex;
    border-radius: 45px;
}
.segment .card_content,
.segment .srv-description {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    justify-content: space-between;
}
.segment .card_content p,
.segment .srv-description p {
    padding: 0;
    margin: 0;
}
.section .fixed-menu {
    height: calc(60px + 2rem);
    width: 100vw;
    transform-origin: top;
    transform: scaleY(1);
    transition: 375ms ease-in-out;
}
header {
    background: linear-gradient(
        180deg,
        #f5f5f5,
        hsla(0, 0%, 96%, 0) 95%,
        hsla(0, 0%, 96%, 0)
    );
    width: 100vw;
    position: fixed;
    top: -1px;
    z-index: 100;
}
.header {
    padding: 1rem 2rem 1.5rem;
    gap: clamp(1rem, 2vw, 4rem);
    height: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 0;
}
.header button.menu {
    background: 0 0;
    color: #0152c3;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
    z-index: 1000;
    padding: 0.5rem;
}
.header .head-flex {
    margin-top: 1.5rem;
    display: flex;
    flex: 1 1;
    align-items: center;
    gap: 2rem;
}
.header .absolute {
    position: absolute;
    left: 0;
    top: -23px;
    width: 100vw;
    height: 100dvh;
    padding: 54px 1.5rem;
    background-color: hsla(0, 0%, 100%, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
.icon-color,
.nav-link {
    fill: #1e1e1e;
    color: #1e1e1e;
}
.logo,
.logo-link {
    width: 50px;
    height: 50px;
}
.logo {
    margin: 0;
    top: 0;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background: #fff;
}
.logo .eyes,
.logo .mouth {
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
.logo .logo-fp {
    fill: #fff;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
}
.logo .logo-bg,
.logo .logo-circle {
    filter: blur(0.1px);
}
.sld-CTA p,
p.p-info_ctn {
    color: #1e1e1e;
    font-size: 1.375rem;
    letter-spacing: -0.9px;
    font-weight: 700;
}
.sld-container {
    height: 100%;
    max-height: 630px;
    width: 100vw;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
}
.sld-road-med {
    max-width: 1656px;
    height: auto;
    position: absolute;
    width: calc(100% + 340px);
    top: calc(60px - 12vw);
    padding: 0 35px 0 24px;
    z-index: 2;
    margin: 0 auto;
}
.sld-road-med svg {
    object-fit: contain;
    width: 100%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.slider {
    top: 0;
    z-index: 2;
}
.slider .content-wrapper {
    top: 0;
}
.slider .slider-content {
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 70vh;
    min-height: 630px;
}
.sld-card_title {
    width: -moz-fit-content;
    width: fit-content;
    height: 172px;
    margin: 0 auto;
    border-radius: 4rem;
}
.sld-card_title h2 {
    height: 39px;
    margin-top: 2rem;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    display: block;
    width: 100%;
}
.slide.active {
    display: block;
    opacity: 1;
    will-change: transform, opacity !important;
    transform: translateX(0);
}
.slide.active .sld-card_title {
    transition: opacity 375ms ease-in-out 0.25s,
        transform 375ms ease-in-out 0.25s;
    transform: translateY(0);
}
.slide.active .banner-description p,
.slide.active .sld-card_title h2 {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
.slide.active .banner-description {
    transition: opacity 0.75s ease-in-out 375ms,
        transform 0.75s ease-in-out 375ms;
    transform: translateX(0);
}
.slide.active .banner-description,
.slide.active .sld-card_title {
    opacity: 1 !important;
    transform: none !important;
}
.about .segment .card_header h3,
.services .segment .card_header h3,
.sld-CTA p,
p.p-info_ctn {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: normal;
}
.slider .slider-content .sld-card_title h2 .bold {
    display: block;
    font-weight: 700;
    font-size: 1.75rem;
}
.slider .slider-content .banner-description {
    padding: 1rem;
    width: calc(100% - 1rem);
    max-width: 420px;
    min-width: 320px;
    margin: 268px auto auto;
    background: #fff;
    border-radius: 2rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.slider .slider-content .banner-description p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
}
.slider .slider-content .banner-description p .bold {
    font-weight: 700;
    margin-top: 0.5rem;
}
.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.25s, transform 0.25s;
}
.banner-arrow,
.slider-arrow {
    position: relative;
    transition: 0.5s;
}
.slide .sld-card_title {
    opacity: 0;
    transform: translateY(160px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.slide .banner-description p,
.slide .sld-card_title h2 {
    opacity: 0;
    transform: translateY(-16px);
    transition: opacity 0.25s ease-in-out 0.25s,
        transform 0.25s ease-in-out 0.25s;
}
.slide .banner-description {
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.25s,
        transform 0.75s ease-in-out 0.25s;
}
.banner-arrow {
    width: 100%;
    height: 630px;
    z-index: 10;
    justify-content: space-between;
    top: 50%;
    padding: 0.25rem;
    margin: 0 auto;
}
.slider-arrow {
    border: none;
    width: 3rem;
    height: 3rem;
    outline: 0 !important;
    border-radius: 50%;
    padding-left: 4px;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.slider-arrow .icon {
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.25));
}
.slider-arrow.left-arrow,
.slider-arrow.right-arrow {
    left: 0;
    top: -4rem;
}
.slider-arrow.left-arrow {
    transform: rotate(180deg);
}
.sld-CTA {
    width: 192px;
    height: 142px;
    border-radius: 24px;
    z-index: 100;
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    will-change: transform;
    align-self: flex-start;
    transform: scale(1.5) translateX(-100%);
    transition: transform 0.5s ease-out;
}
.sld-CTA p {
    width: 140px;
}
.sld-CTA p.p2 {
    font-size: 1.675rem;
    text-align: right;
    margin-bottom: 0.5rem;
}
.info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    min-height: 220px;
    height: 266px;
    margin: auto;
    position: absolute;
    top: 542px;
}
p.p-info_ctn {
    text-align: right;
    padding: 0 0 0 1rem;
    width: 212px;
    height: auto;
}
.sld-info_ctn {
    padding-right: 0.5rem;
    min-width: 339px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 0.8s ease-out 0.75s;
    transform: scale(1.5) translateX(100%);
    perspective: 1000px;
    align-self: flex-end;
}
.icon-position {
    align-self: flex-start;
    width: 127px;
    height: 119px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.locationP1,
.locationP2 {
    position: absolute;
    width: 119px;
    height: 119px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.locationP1 {
    transform: scaleY(0) rotate(0);
    transform-origin: bottom;
    transition: 0.5s ease-out 2.5s;
}

/* ! DEFER CSS LOW ! */
/* 
@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofINeaB.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiAo.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.slider .slide.next,
.slider .slide.prev {
    display: block;
    opacity: 0;
}
.slider .slide.next .sld-card_title,
.slider .slide.prev .sld-card_title {
    transform: translateY(-160px);
}
.slider .slide.next .banner-description {
    transform: translateX(-300%);
}
.slider .slide.prev .banner-description {
    transform: translateX(300%);
}
table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}
hr {
    height: 0;
    border-top-width: 1px;
}
menu,
ol,
ul {
    list-style: none;
}
option {
    cursor: pointer;
}
.about,
.services {
    position: relative;
    height: auto;
    justify-content: inherit;
}
.about .ab-img_info,
.services .ab-img_info {
    background: #0d84e3;
    position: absolute;
    z-index: -1;
    top: -72px;
    left: 0;
    border-radius: 0 192px 192px 0;
    width: calc(100% - 1.5rem);
}
.about .ab-img_info img,
.services .ab-img_info img {
    left: -4rem;
    position: relative;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
    height: 384px;
    width: 100%;
}
.about .segment,
.services .segment {
    margin-top: 2.6rem;
}
.about .segment .card_header,
.services .segment .card_header {
    position: relative;
    z-index: 2;
    padding: 0;
    width: 100%;
    margin-left: 1rem;
    justify-content: space-between;
    height: 310px;
}
.about .segment .card_header h3,
.services .segment .card_header h3 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    height: 39px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.about .segment .card_header h3 span,
.services .segment .card_header h3 span {
    font-weight: 500;
    margin-left: 0.5rem;
}
.about .segment .card_header .profession,
.services .segment .card_header .profession {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -1.12px;
    color: #1a6de5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 34px;
    text-align: center;
}
.about .segment .card_header img.ab-img_head,
.services .segment .card_header img.ab-img_head {
    margin: 6px;
    border-radius: 48px;
    width: 225px;
    height: 225px;
}
.about .segment .card_content,
.services .segment .card_content {
    height: auto;
    width: 100%;
    gap: 24px;
    padding: 2rem 0 0;
}
.about .segment .card_content p,
.services .segment .card_content p {
    max-width: inherit;
    width: 100%;
    padding: 0 1rem 0 0;
    margin: 0;
    font-size: 1.25rem;
}
.about .btn-style_blue,
.services .btn-style_blue {
    margin: 3.5rem 1.5rem 0 0;
    align-self: center;
}
@keyframes opacityAnim {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes opacityAnimationDelay {
    0%,
    66% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes grow {
    0% {
        height: 0;
        transform: scale(0);
    }
    78% {
        height: 100%;
        transform: scaleY(1) rotateY(270deg);
    }
    to {
        transform: scale(1) rotateY(1turn);
    }
}
@keyframes growWidth {
    0%,
    to {
        transform: scale(1);
    }
    78% {
        transform: scale(1.15);
    }
    90% {
        transform: scale(1.05);
    }
}
@keyframes opacityAnimation {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes opacityWidthAnimationIn {
    0% {
        opacity: 0;
        width: 0;
    }
    66% {
        width: 50%;
        opacity: 0;
        transform: translateY(-20px);
    }
    90% {
        width: 100%;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes opacityWidthAnimationOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    10% {
        width: 100%;
    }
    66% {
        width: 50%;
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
        width: 0;
    }
}
#slider.active-section .sld-CTA,
.header .absolute.open {
    transform: translateX(0);
}
.header .absolute.closing {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
.main-nav {
    display: inline-flex;
    align-items: flex-start;
    flex-flow: column;
    border-radius: 1.5rem;
    background-color: hsla(0, 0%, 100%, 0.35);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
    transition: 0.45s, color 0.3s;
    z-index: 1000;
    padding: 1rem 1.5rem;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
}
.main-nav .group_link-submenu {
    position: relative;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: column;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
    padding: 0.75rem;
    border-bottom: 1px solid gray;
}
.main-nav .group_link-submenu .submenu {
    display: none;
    top: 100%;
    height: auto;
    box-sizing: border-box;
    z-index: 10;
    transition: 0.35s;
    opacity: 0;
}
.main-nav .group_link-submenu .submenu.open {
    display: block;
    opacity: 1;
}
.main-nav .group_link-submenu .submenu .submenu_group {
    padding: 0.25rem 0.5rem 0 2rem;
    display: flex;
    flex-flow: column;
}
.main-nav .icon-color_secondary {
    fill: #fff !important;
}
.head-link {
    min-height: 20px;
    min-width: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.head-link .nav-icon {
    display: flex;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 1px;
}
.head-link .nav-link {
    flex-grow: 1;
}
.head-link .submenu-arrow {
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
    color: #000;
}
.head-link.active .submenu-arrow {
    color: #1a6de5;
}
.head-link .submenu-arrow.open {
    transform: rotate(180deg);
}
.head-link .submenu-arrow.closed {
    transform: rotate(0);
}
.show-button {
    width: 18px;
}
.hidden {
    opacity: 0;
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    transform: scale(0);
    width: 0;
}
.show-link {
    max-height: 100px;
    visibility: visible;
    white-space: nowrap;
    transform: scale(1);
    transform-origin: left;
    opacity: 0;
    width: 100%;
}
input.show-link {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 112px;
    width: auto;
}
.nav-link {
    margin-left: 10px;
}
.group_link-submenu .nav-link.show-link {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    animation: 0.3s ease-in-out forwards opacityWidthAnimationIn;
    transition: 0.3s ease-in-out;
    height: auto;
}
.ctc-layout .ctc-form .cgu label,
.logo:hover .logo-circle,
.logo:hover .logo-fp,
.nav-link.display-none {
    display: none;
}
input.nav-link,
option.nav-link {
    text-transform: capitalize;
}
.submenu.open,
nav .group_link-submenu:focus .submenu,
nav .group_link-submenu:focus-visible .submenu {
    display: block;
    opacity: 1;
}
.submenu_group .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #1e1e1e;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s;
}
.submenu_group .nav-link:after,
.submenu_group .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #1a6de5;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.submenu_group .nav-link:before {
    top: 0;
    left: 0;
    transform-origin: left;
}
.submenu_group .nav-link:after {
    bottom: 0;
    right: 0;
    transform-origin: right;
}
.submenu_group .nav-link:focus,
.submenu_group .nav-link:focus-visible {
    color: #fff !important;
    background: #1a6de5 !important;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: background, box-shadow 0.35s;
}
.head-link.active .icon-color,
.head-link.active .nav-icon,
.head-link.active .nav-link,
.submenu_group .nav-link.active {
    fill: #1a6de5;
    color: #1a6de5;
    transition: fill, color, transform 0.35s;
    background: 0 0;
}
.logo:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo:hover .logo-bg {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.05));
    border-radius: 50% !important;
}
.logo:hover .eyes {
    animation: 0.5s 0.25s eyeAnimation;
    transform: rotate(1deg);
    transform-origin: center;
}
.logo:hover .mouth {
    transform: rotate(-7deg);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}
@keyframes eyeAnimation {
    0%,
    to {
        d: path(
            "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
        );
    }
    50% {
        d: path(
            "M64.2 47.8c.2 1.4 6.8 1.5 9.3 1.2 4.9-.3 4.7-1.4-.2-1s-9.1 1.4-9.1 0.8z"
        );
    }
}
.btn-style_blue {
    border-radius: 8px;
    padding: 0.75rem 2rem;
    height: 44px;
    background: #1a6de5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1);
    transition: transform 0.2s, background 0.3s, box-shadow 0.3s;
    will-change: transform, box-shadow;
    min-width: 160px;
}
.btn-style_blue,
.btn-style_blue a {
    font-family: Nunito, serif;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    text-align: center;
}
.btn-style_blue:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(26, 109, 229, 0.5);
}
.btn-style_blue:active {
    transform: scale(0.98);
}
.btn-style_blue:hover:after {
    opacity: 1;
}
.btn-style_blue:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transition: opacity 225ms, transform 0.45s;
    background: linear-gradient(
        145deg,
        rgba(0, 158, 226, 0.5),
        rgba(0, 0, 0, 0.2)
    );
    will-change: transform, opacity;
}
.boolean-checkbox input[type="checkbox"]:checked {
    background: 0 0;
    box-shadow: inherit;
    border: none;
    outline: 0;
    z-index: 1;
}
.boolean-checkbox input[type="checkbox"]:checked ~ span.checked {
    background: #009ee2;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 0;
}
.boolean-checkbox input[type="checkbox"]:disabled {
    cursor: not-allowed;
}
.boolean-checkbox span svg {
    width: 14px;
    height: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
#slider.active-section .sld-info_ctn {
    transform: scale(1) translateX(0) !important;
}
#slider.active-section .sld-info_ctn .locationP1 {
    animation: 0.65s ease-in-out 2s forwards grow;
}
#slider.active-section .sld-info_ctn .locationP2,
#slider.active-section .sld-info_ctn p.p-info_ctn {
    animation: 0.75s ease-in-out 1.25s backwards opacityAnimation;
}
#slider.active-section .sld-info_ctn p.p-info_ctn {
    transform: scale(1);
    animation: 0.5s ease-in-out 1.9s forwards growWidth;
}
.sld-bg .slider-bg:before {
    position: relative;
    z-index: 1;
}
.services .segment .accompanist-bg {
    position: relative;
    top: -42px;
    background: #fff;
    height: 171px;
    width: 1314px;
    margin: 0;
    border-radius: 0 0 45px 45px;
}
.services .segment .accompanist-bg .card_content {
    max-height: 121px;
}
.services .segment .accompanist-bg .isAccompanist,
.services .segment .accompanist-bg .isAccompanist p {
    padding-top: 0;
}
.ctc-layout .ctc-form .form-questions .questions .response span.checked {
    left: -40px;
}
.ctc-layout .ctc-form .form .error-message {
    position: static;
    display: block;
    padding: 0;
    color: red;
    margin: 5px 0 0;
    width: 100%;
}
.ctc-layout .ctc-form .cgu .questions .response span.checked {
    left: 5px;
}
.ctc-layout .ctc-form .valid-message {
    flex-flow: column;
    gap: 0.5rem;
    padding: 2rem;
    width: calc(417px + 4rem);
    height: calc(82px + 4rem);
    position: absolute;
    z-index: 1000;
    left: calc(50% - (417px + 4rem) / 2);
    top: calc(50% - (82px + 4rem) / 2);
    border-radius: 18px;
    background: #f2f2f1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    animation: 4s ease-in-out forwards fadeOut;
}
.ctc-layout .ctc-form .valid-message p {
    text-align: center;
    width: 417px;
}
.ctc-layout .ctc-form .form .error-message,
.ctc-layout .ctc-form .valid-message p,
.nav-link {
    font-family: Roboto, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(0.95);
        visibility: hidden;
    }
}
form.srv-form input[type="checkbox"] {
    margin: 0 9px 0 25px;
}
form.srv-form span {
    position: relative;
    left: -32px;
}
form.srv-form label {
    font-family: Montserrat, sans-serif;
    line-height: 1.75rem;
    font-style: normal;
    color: #1e1e1e;
    font-size: 1.25rem;
    font-weight: 500;
}
.services.content-srv {
    margin-top: 60px;
}
.services.content-srv .segment {
    margin: 0;
    width: 100%;
}
.services.content-srv .segment-title {
    padding: 0.5rem;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}
.services.content-srv .segment-title h2.card_title {
    font-size: 1.375rem;
    padding: 1rem 0.5rem 0.5rem;
    margin: 0;
}
.services.content-srv .segment .card_header {
    margin: 0.5rem 1rem 2rem;
    width: 100%;
    width: calc(100% - 2rem);
    border-radius: 0.5rem;
}
.services.content-srv .segment .card_header p {
    text-align: left;
    font-size: 1.135rem;
}
.services.content-srv .segment .card_content {
    width: 100%;
    padding: 0 0 1rem 0;
}
.services.content-srv .segment .card_content .srv-description {
    padding: 0;
    margin: 0 1.5rem;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    height: 60px;
    border-radius: 45px;
    background: #fff;
    flex-flow: row-reverse;
}
.services.content-srv .segment .card_content .srv-description a {
    font-weight: 600;
    font-size: 1.25rem;
    color: #1e1e1e;
    width: calc(100% - 1rem);
    margin-left: 1rem;
}
.services.content-srv
    .segment
    .card_content
    .srv-description
    .icon-description {
    position: relative;
    border-radius: 50%;
    background: #fff;
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: 0;
}
.boolean-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #c4c4c4;
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.boolean-checkbox input[type="checkbox"],
.boolean-checkbox span {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    position: relative;
}
.boolean-checkbox span {
    z-index: -1;
}
.services.content-srv
    .segment
    .card_content
    .srv-description
    .icon-description
    img {
    border-radius: 50%;
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
}
.services.content-srv .segment .card_content .srv-description.o1 {
    border-radius: 0;
    background: #647d21;
    width: 100%;
    margin: 0 0 0.5rem;
    padding: 1rem 1.5rem 1rem 2.5rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    flex-flow: row nowrap;
    gap: 1rem;
    height: auto;
}
.services.content-srv .segment .card_content .srv-description.o1 p {
    font-size: 1.375rem;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    color: #fff;
    height: auto;
    padding: 0;
    text-align: left;
}
.services.content-srv
    .segment
    .card_content
    .srv-description.o1
    .icon-description {
    border: none;
    min-width: inherit;
    height: auto;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.services.content-srv
    .segment
    .card_content
    .srv-description.o1
    .icon-description
    img {
    background: 0 0;
    border-radius: 0;
    width: 45px;
    height: 45px;
}
.services .segment {
    flex-flow: column nowrap;
    background: #1a6de5;
    margin: 0;
    width: 100%;
}
.services .segment h2.card_title {
    justify-content: flex-start;
    color: #fff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 1rem;
    padding: 0.5rem 0 0 1rem;
    width: 100%;
    align-self: flex-start;
}
.services .segment .card_header {
    margin: 1rem 1rem 2.5rem 2rem;
    padding: 1rem;
    width: 75%;
    background: #fff;
    height: 75%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
}
.services .segment .card_header img.srv-img_typo {
    width: 360px;
    padding: 0.5rem;
}
.services .segment .card_header img.srv-img_lesson {
    margin-top: 12px;
}
.services .segment .card_content {
    height: auto;
    padding: 1rem 0.5rem 0 2rem;
    background: #fff;
    border-radius: 0;
}
.services .segment .card_content p {
    padding-bottom: 14px;
}
.services .segment .card_content p strong:first-child {
    font-size: 1.375rem;
}
.services .segment .card_content p.srv-ask {
    font-weight: bolder;
}
.contact {
    margin-bottom: 64px;
}
.contact .contact-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}
.contact .ctc-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem;
}
.contact .ctc-content img.contact-bg {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.contact .ctc-content .ctc-layout {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #000;
}
.contact .ctc-content .ctc-layout h2 {
    width: 100%;
    text-align: left;
}
.contact .ctc-content .ctc-layout .ctc-announcement {
    margin: 0;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 16px;
    background: rgba(255, 177, 33, 0.35);
}
.contact .ctc-content .ctc-layout .ctc-announcement img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.contact .ctc-content .ctc-layout .ctc-announcement p,
.contact .ctc-content .ctc-layout .ctc-info .ctc-card p,
.contact .ctc-content .ctc-layout .ctc-info .ctc-social_card p {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    color: #000;
}
.contact .ctc-content .ctc-layout .ctc-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    gap: 30px;
    margin: 0 auto;
    place-items: center;
    width: -moz-fit-content;
    width: fit-content;
    grid-auto-flow: dense;
}
.contact .ctc-content .ctc-layout .ctc-info .ctc-card,
.contact .ctc-content .ctc-layout .ctc-info .ctc-social_card {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    min-height: 171px;
    height: auto;
    padding: 30px;
    border-radius: 16px;
    background: #f2f2f1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.contact .ctc-content .ctc-layout .ctc-info .ctc-card img,
.contact .ctc-content .ctc-layout .ctc-info .ctc-social_card img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}
.contact .ctc-content .ctc-layout .ctc-info .ctc-social_card {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}
.contact .ctc-content .ctc-layout .ctc-info .ctc-social_card p {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}
.contact .ctc-content .ctc-layout .ctc-info .ctc-social_card .social-icons,
.footer .ft_p-1 .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 1rem;
}
.contact
    .ctc-content
    .ctc-layout
    .ctc-info
    .ctc-social_card
    .social-icons
    .social-g1,
.footer .ft_p-1 .social-icons .social-g1 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.contact
    .ctc-content
    .ctc-layout
    .ctc-info
    .ctc-social_card
    .social-icons
    .social-icon,
.footer .ft_p-1 .social-icons .social-icon {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}
.contact
    .ctc-content
    .ctc-layout
    .ctc-info
    .ctc-social_card
    .social-icons
    .social-icon
    svg,
.footer .ft_p-1 .social-icons .social-icon svg {
    object-fit: cover;
    border-radius: 12px;
}
.contact
    .ctc-content
    .ctc-layout
    .ctc-info
    .ctc-social_card
    .social-icons
    .social-icon
    svg
    .bg-color,
.footer .ft_p-1 .social-icons .social-icon svg .bg-color {
    fill: #1a6de5;
}
.contact
    .ctc-content
    .ctc-layout
    .ctc-info
    .ctc-social_card
    .social-icons
    .social-icon
    svg
    .icon-color,
.footer .ft_p-1 .social-icons .social-icon svg .icon-color {
    fill: #fff;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.35));
}
.ctc-layout .ctc-form {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 30px;
    background: #fff;
    border-radius: 18px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    gap: 40px !important;
}
.footer,
.footer .ft_p-1 {
    height: -moz-fit-content;
}
.ctc-layout .ctc-form .form-title {
    width: 100%;
    height: auto;
    gap: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.ctc-layout .ctc-form .form-questions {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.ctc-layout .ctc-form .form-questions .questions {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.ctc-layout .ctc-form .form-questions .questions p {
    font-weight: 600;
}
.ctc-layout .ctc-form .form-questions .questions .response {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-size: 1.25rem;
    margin: 1rem 0 0 24px;
}
.ctc-layout .ctc-form .form-questions label,
.ctc-layout .ctc-form .form-questions p {
    text-align: left;
}
.ctc-layout .ctc-form .form {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}
.ctc-layout .ctc-form .endOF {
    height: 1px;
    width: 100%;
}
.ctc-layout .ctc-form .form label {
    font-family: Roboto, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    color: #1d1d1b;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
}
.ctc-layout .ctc-form .form input,
.ctc-layout .ctc-form .form textarea {
    font-family: Roboto, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    background: #fff;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.ctc-layout .ctc-form .form textarea {
    height: 236px;
}
.ctc-layout .ctc-form .endOF button[type="submit"] {
    position: relative;
    top: -22px;
    margin: 0 auto;
}
.ctc-layout .ctc-form .cgu {
    position: relative;
    top: 0;
    gap: 0;
    margin: 1rem 0 3rem;
}
.ctc-layout .ctc-form .cgu .questions {
    display: inline-flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 0 0 0.5rem;
}
.ctc-layout .ctc-form .cgu .questions p {
    position: relative;
    font-weight: 500;
    display: block;
    padding-top: 0.65rem;
    font-size: 1rem;
    width: 100%;
}
.ctc-layout .ctc-form .cgu .questions .response {
    position: relative;
    left: -12px;
    top: -18px;
    width: 40px;
}
.ctc-layout .ctc-form .cgu .questions .response input[type="checkbox"] {
    margin: 0;
    padding: 0;
    left: 0;
}
.ctc-layout .ctc-form .cgu .questions .response span {
    position: absolute;
    left: 0;
}
.footer {
    text-align: center;
    font-size: 1rem;
    background: #151515;
    height: fit-content;
}
.footer .container {
    margin: 0 auto;
}
.footer .ft_p-1 {
    padding: 42px;
    align-items: center;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}
.footer .ft_p-1 a {
    color: var(--Light-Yellow-BG, #f1e7d1);
    font-size: 24px;
    line-height: normal;
    transition: color 0.3s;
}
.footer .ft_p-1 a,
.footer .ft_p-1 p {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}
.footer .ft_p-1 p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--oranged, #f60);
} */
