@mixin smoothTransition($props...) {
    transition: $props 0.35s ease;
}

header {
    background: linear-gradient(
        180deg,
        #f5f5f5 0,
        rgba(245, 245, 245, 0) 95%,
        rgba(245, 245, 245, 0) 100%
    );
    width: 100vw;
    position: fixed;
    top: -1px;
    z-index: 100;
}
.header {
    padding: 1rem 2rem 1.5rem;
    margin: 0 auto;
    gap: clamp(1rem, 2vw, 4rem);
    box-sizing: border-box;
    width: 100%;
    height: 50px;

    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;

    button.menu {
        background: transparent;
        color: $dark-blue;
        filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
        position: relative;
        z-index: 1000;
        padding: 0.5rem;
    }

    .head-flex {
        margin-top: 1.5rem;
        display: flex;
        flex: 1;
        align-items: center;
        gap: 2rem;
    }

    .absolute {
        position: absolute;
        left: 0;
        top: -23px;
        width: 100vw;
        height: 100dvh;
        padding: 54px 1.5rem;

        background-color: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        display: flex;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    .absolute.open {
        transform: translateX(0);
    }

    .absolute.closing {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }
}

.main-nav {
    display: inline-flex;
    align-items: flex-start;
    flex-flow: column;
    border-radius: 1.5rem;

    background-color: rgba(255, 255, 255, 0.35);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));

    transition: all 0.45s ease, color 0.3s ease;
    z-index: 1000;
    padding: 1rem 1.5rem;
    width: 100%;
    height: fit-content;

    .group_link-submenu {
        position: relative;
        min-width: 20px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;
        height: fit-content !important;
        width: 100%;
        padding: 0.75rem;
        border-bottom: 1px solid gray;
        .submenu {
            display: none;
            top: 100%;
            height: auto;
            box-sizing: border-box;
            z-index: 10;
            transition: all 0.35s ease;
            opacity: 0;
            &.open {
                display: block;
                opacity: 1;
            }
            .submenu_group {
                padding: 0.25rem 0.5rem 0rem 2rem;
                display: flex;
                flex-flow: column;
            }
        }
    }
}

.main-nav .icon-color_secondary {
    fill: $white !important;
}

.head-link {
    min-height: 20px;
    min-width: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    .nav-icon {
        display: flex;
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin: 1px;
    }

    .nav-link {
        flex-grow: 1;
    }

    .submenu-arrow {
        margin-left: auto;
        transition: transform 0.3s ease-in-out;
        color: $black;
    }
    &.active {
        .submenu-arrow {
            color: $primary-blue;
        }
    }
    .submenu-arrow.open {
        transform: rotate(180deg);
    }

    .submenu-arrow.closed {
        transform: rotate(0deg);
    }
}

.show-button {
    width: 18px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    transform: scale(0);
    width: 0;
}

.show-link {
    max-height: 100px;
    visibility: visible;
    white-space: nowrap;
    transform: scale(1);
    transform-origin: left;
    opacity: 0;
    width: 100%;
}
input.show-link {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 112px;
    width: auto;
}
.nav-link {
    @include navLink;
    margin-left: 10px;
}

.group_link-submenu .nav-link.show-link {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    animation: opacityWidthAnimationIn 0.3s ease-in-out forwards;
    transition: all 0.3s ease-in-out;
    height: auto;
}

.nav-link.display-none {
    display: none;
}

input.nav-link,
option.nav-link {
    text-transform: capitalize;
}

nav .group_link-submenu:focus .submenu,
nav .group_link-submenu:focus-visible .submenu,
.submenu.open {
    display: block;
    opacity: 1;
}

.submenu_group .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: $primary-black;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s ease;
}

.submenu_group .nav-link::before,
.submenu_group .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: $primary-blue;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.submenu_group .nav-link::before {
    top: 0;
    left: 0;
    transform-origin: left;
}

.submenu_group .nav-link::after {
    bottom: 0;
    right: 0;
    transform-origin: right;
}

.submenu_group .nav-link:focus,
.submenu_group .nav-link:focus-visible {
    color: $white !important;
    background: $primary-blue !important;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    @include smoothTransition(background, box-shadow);
}

.icon-color,
.nav-link {
    fill: $primary-black;
    color: $primary-black;
}

.head-link.active .icon-color,
.head-link.active .nav-icon,
.head-link.active .nav-link,
.submenu_group .nav-link.active {
    fill: $primary-blue;
    color: $primary-blue;
    @include smoothTransition(fill, color, transform);
    background: none;
}

.logo-link {
    width: 50px;
    height: 50px;
}

.logo {
    margin: 0;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    z-index: 1;
    @include menuShadow(rgba(0, 0, 0, 0.5));
    border-radius: 50%;
    background: $white;

    cursor: pointer;
    .mouth,
    .eyes {
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 0.5s ease-in-out;
    }
    .logo-fp {
        fill: $white;
        @include dropShadow(rgba(0, 0, 0, 0.35));
    }
    .logo-circle,
    .logo-bg {
        filter: blur(0.1px);
    }
    &:hover {
        @include dropShadow(rgba(0, 0, 0, 0.25));
        .logo-bg {
            @include dropShadow(rgba(0, 0, 0, 0.05));
            border-radius: 50% !important;
        }
        .logo-circle {
            display: none;
        }
        .eyes {
            animation: eyeAnimation 0.5s 0.25s;
            transform: rotate(1deg);
            transform-origin: center;
        }
        .mouth {
            transform: rotate(-7deg);
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }
        .logo-fp {
            display: none;
        }
    }
    @keyframes eyeAnimation {
        0% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
        50% {
            d: path(
                "M64.2 47.8c.2 1.4 6.8 1.5 9.3 1.2 4.9-.3 4.7-1.4-.2-1s-9.1 1.4-9.1 0.8z"
            );
        }
        100% {
            d: path(
                "M64.2 47.8c.2 4.4 6.8 3.5 9.3 3.2 4.9-.9 4.7-8.4-.2-8s-9.1 1.4-9.1 4.8z"
            );
        }
    }
}
